* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;

}

a,
a:hover {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

/* common css end */


body{
    background-color: rgb(240, 240, 240);
}

.profiledetails{
    margin-top: 60px;

}

.profiledetails .topview{
    border-radius: 5px;
    box-shadow: 0 4px 2px 0px gray;
}

.profiledetails .topview .text1{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-left: 20px;
}


.profiledetails .bottomview table{
    width: 100%;
}

.profiledetails .bottomview{
    margin-top: 70px;
}
.profiledetails .bottomview .userimage img{
    width: 100%;
    transform: translate(0%,30%);

}
.profiledetails .bottomview .userinfo{
    
    background-color: rgba(255, 255, 255, 0.666);
    padding: 20px 20px;
    
}


.profiledetails .bottomview .userinfo .aboutme{
    padding-left: 15px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 0 4px 2px 0px gray;
}


.profiledetails .bottomview .userinfo td{
    padding: 10px 20px;
}

.profiledetails .bottomview .userinfo .rock{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.profiledetails .bottomview .userinfo .softy{
    font-size: 20px;
    /* font-family: 'Open Sans Condensed', sans-serif; */
    font-family: 'Della Respira', serif;
    font-weight: 400px;
}